<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hans CH</title>
    <link rel="stylesheet" href="css/project.css">
    <script src="js/project.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="src/HC.png" sizes="16x16">
</head>
<body>
    <!--NAVBAR-->
    <nav>
        <div class="nav-item">
            <a href="/">Home</a>
            <a href="#contacts">Social Media</a>
            <div class="dropdown">
                <a href="#">Portofolio</a>
                <div class="dropdown-content">
                    <a href="/webdev">Web Development</a>
                    <a href="/uiux">UIUX Design</a>
                    <a href="/appdev">App Development</a>
                </div>
            </div>
        </div>
    </nav>

    <!--Contacts-->
    <section class="contacts">
        <div class="contacts-item">
            <a href="https://www.linkedin.com/in/hans-christian-handoto" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Alpucap" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=alpucaps@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>   
        </div>
    </section>

    <!--Project-->
    <!--https://devicon.dev/-->
    <section class="project" id="projects">
        <!--Project Item-->
        <div class="project-item">
            <h1>Data Mining</h1>
            <div class="carousel-used">
                <p>Segmentasi Pelanggan Berbasis Naive Bayes: 
                    Menghubungkan Data Kepribadian dan Riwayat 
                    Pembelian untuk Optimalisasi Bisnis</p>
                <div class="used">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kaggle/kaggle-original.svg" />
                </div>
                <div class="carousel">
                    <div class="track">
                        <img src="src\Data_OptimalisasiBisnis\Outlier_Detection.png" alt="Outlier Detection" class="slide">
                        <img src="src\Data_OptimalisasiBisnis\Training_Data.png" alt="Training Data" class="slide">
                        <img src="src\Data_OptimalisasiBisnis\Test_Data.png" alt="Test Data" class="slide">
                        <img src="src\Data_OptimalisasiBisnis\Accuracy.png" alt="Accuracy Data" class="slide">
                    </div>
                    <button class="prev">&#8592;</button>
                    <button class="next">&#8594;</button>
                </div>
            </div>
        </div>
        <div class="project-item">
            <h1>Data Analytics</h1>
            <div class="carousel-used">
                <a href="https://kualitasudarastasiunchina.streamlit.app/"><p>Analisis Data Kualitas Udara di Stasiun China</p></a>
                <div class="used">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/streamlit/streamlit-original.svg" />
                </div>
                <div class="carousel">
                    <div class="track">
                        <img src="src\Data_AirQualityChina\best_month.png" alt="Best Month Graphics" class="slide">
                        <img src="src\Data_AirQualityChina\five_years.png" alt="Five Years Graphics" class="slide">
                        <img src="src\Data_AirQualityChina\pollutantbased.png" alt="Pollutant Based Graphics" class="slide">
                        <img src="src\Data_AirQualityChina\whatis.png" alt="Dictionary" class="slide">
                    </div>
                    <button class="prev">&#8592;</button>
                    <button class="next">&#8594;</button>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer" id="contacts">
        <div class="footer-child">
            <div class="footer-loc">
                <h1>Home</h1>
                <div class="links">
                    <a href="https://www.google.com/maps/place/Jakarta+Barat,+Kec.+Kb.+Jeruk,+Kota+Jakarta+Barat,+Daerah+Khusus+Ibukota+Jakarta/@-6.1599916,106.6748571,12z/data=!3m1!4b1!4m6!3m5!1s0x2e69f7c9d110d719:0x300c5e82dd4b8a0!8m2!3d-6.1674309!4d106.7637239!16zL20vMDdfZGQz?entry=ttu&g_ep=EgoyMDI0MTAyMS4xIKXMDSoASAFQAw%3D%3D">Jakarta, Indonesia</a>
                </div>
            </div>
            <div class="footer-socialmedia">
                <h1>Social Media</h1>
                <div class="links">
                    <a href="https://www.linkedin.com/in/hans-christian-handoto" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Alpucap" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=alpucaps@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>            
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/hnscns/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-project">
                <h1>Projects</h1>
                <div class="links">
                    <a href="/webdev">Web Development</a>
                    <a href="/appdev">App Development</a>
                    <a href="/data">Data</a>
                    <a href="/uiux">UI/UX Design</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>