<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hans CH</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="src/HC.png" sizes="16x16">
</head>
<body>
    <!--NAVBAR-->
    <nav>
        <div class="nav-item">
            <a href="#intros">Intro</a>
            <a href="#academics">Academic</a>
            <a href="#experiences">Experience</a>
            <a href="#projects">Project</a>
            <a href="#contacts">Social Media</a>
        </div>
    </nav>
    
    <!--Contacts-->
    <section class="contacts">
        <div class="contacts-item">
            <a href="https://www.linkedin.com/in/hans-christian-handoto" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Alpucap" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=alpucaps@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>   
        </div>
    </section>

    <!--Intro-->
    <section class="intro" id="intros">
        <div class="intro-item">
            <div class="intro-fonts">
                <h1>HANS CHRISTIAN HANDOTO</h1>
                <h2>Informatics Engineering Student | <span></span></h2>
            </div> 
        </div>
    </section>

   <!-- About Me -->
    <section class="about" id="about">
        <div class="about-item">
            <h1>ABOUT ME</h1>
            <p>
                Hello, I'm Hans Christian Handoto. I am currently an undergraduate student in Informatics Engineering at 
                Tarumanagara University. I have had the opportunity to <span class="highlight">lead and teach 58 students for approximately six months</span>, 
                which has greatly enhanced my <span class="highlight">problem-solving, time-management, leadership and instructional skills.</span>  
                My technical skills span across a range of areas, including <span class="highlight">full-stack web development, mobile app development, and UI/UX design.</span>
                I am proficient in tools such as <span class="highlight">Adobe Photoshop, Premiere Pro, and Figma</span>, and have hands-on experience with programming languages 
                like <span class="highlight">C++ and Java</span>. In addition to my technical abilities, I am also experienced in graphic design, photo and video editing, and copywriting.
                I have engaged in various volunteer and leadership roles, such as coordinating events and managing teams. 
                My passion for integrating design with technology drives my approach to creating innovative and user-friendly solutions.
            </p>
        </div>
        <div class="stats">
            <div class="language-proficiency">
                <p>Indonesia</p>
                <div class="language-bar">
                    <div class="bar Indonesia"></div>
                </div>
            </div>
            <div class="language-proficiency">
                <p>English</p>
                <div class="language-bar">
                    <div class="bar English"></div>
                </div>
            </div> 
            <div class="language-proficiency">
                <p>Japanese</p>
                <div class="language-bar">
                    <div class="bar Japanese"></div>
                </div>
            </div> 
        </div>        
    </section>


    <!--Academic-->
    <section class="academic" id="academics">
        <h1>ACADEMIC</h1>
        <div class="animate-on-scroll slide-up">
            <div class="academic-item">
                <div class="colorized" style="transition-delay: 0.6s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/SMAN19.png" alt="SMAN19" class="sman19"></a>
                        <div class="academic-item-text">
                            <p>Science & Mathematics [2019 - 2022]</p>
                        </div>
                    </div>
                </div>
                <div class="colorized" style="transition-delay: 0.7s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/UNTAR.png" alt="UNTAR" class="untar"></a>
                        <div class="academic-item-text">
                            <p>Information Technology [2022 - Now]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>COURSE</h1>
        <div class="animate-on-scroll slide-up">
            <div class="academic-item">
                <div class="colorized" style="transition-delay: 0.5s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Skilvul.png" alt="Skilvul"></a>
                        <div class="academic-item-text">
                            <p>Data Structure using Python [2024]</p>
                        </div>
                    </div>
                </div>
                <div class="colorized" style="transition-delay: 0.6s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/RedHat.png" alt="Redhat"></a>
                        <div class="academic-item-text">
                            <p>Red Hat System Administration I (RH124) [2023]</p>
                        </div>
                    </div>
                </div>
                <div class="colorized" style="transition-delay: 0.7s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Huawei.png" alt="Huawei"></a>
                        <div class="academic-item-text">
                            <p>HCIA - Cloud Service V3.0 [2023]</p>
                            <p>HCIA - AI V3.0 [2023]</p>
                        </div>
                    </div>
                </div>
                <div class="colorized" style="transition-delay: 0.5s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Udemy.png" alt="Udemy"></a>
                        <div class="academic-item-text">
                            <p>Basic Data Science using Python [2023]</p>
                        </div>
                    </div>
                </div>
                <div class="colorized" style="transition-delay: 0.5s">
                    <div class="academic-item-child">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Dicoding.png" alt="Dicoding"></a>
                        <div class="academic-item-text">
                            <p>Basic Data Science [2024]</p>
                            <p>Basic SQL [2024]</p>
                            <p>Python Programming [2024]</p>
                            <p>Python Data Analytics [2024]</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--Experience-->
    <section class="experience" id="experiences">
        <h1>EXPERIENCE</h1>
        <div class="animate-on-scroll slide-right">
            <div class="experience-item left">
                <div class="experience-item-child">
                    <div class="blur" style="transition-delay: 0.7s">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/UNTAR.png" alt="UNTAR"></a>
                    </div>
                    <div class="animate-on-scroll slide-right">
                        <div class="experience-item-child-text-left">
                            <h2>Fakultas Teknologi Informasi Universitas Tarumanagara</h2>
                            <div class="lighten">
                                <ul id="FTIUNTAR-list"></ul>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="animate-on-scroll slide-left">
            <div class="experience-item right">
                <div class="experience-item-child">
                    <div class="animate-on-scroll slide-left">
                        <div class="experience-item-child-text-right">
                            <h2>Persekutuan Oikumene Universitas Tarumanagara</h2>
                            <div class="lighten">
                                <ul id="POUT-list"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="blur" style="transition-delay: 0.7s">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/POUT.png" alt="POUT"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="animate-on-scroll slide-right">
            <div class="experience-item left">
                <div class="experience-item-child">
                    <div class="blur" style="transition-delay: 0.7s">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Huawei.png" alt="Huawei"></a>
                    </div>
                    <div class="animate-on-scroll slide-right">
                        <div class="experience-item-child-text-left">
                            <h2>Huawei Certified ICT Associate</h2>
                            <div class="lighten">
                                <ul id="Huawei-list"></ul>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="animate-on-scroll slide-left">
            <div class="experience-item right">
                <div class="experience-item-child">
                    <div class="animate-on-scroll slide-left">
                        <div class="experience-item-child-text-right">
                            <h2>Varanity</h2>
                            <div class="lighten">
                                <ul id="Varanity-list"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="blur" style="transition-delay: 0.7s">
                        <a href="https://www.linkedin.com/in/hans-christian-handoto"><img src="src/Varanity.png" alt="Varanity"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Project-->
    <section class="project" id="projects">
        <div class="project-item">
            <div class="carousel">
                <div class="track">
                    <div class="slide">
                        <img src="src/WebDev.png" alt="Web Dev">
                        <div class="slide-text">
                            <a href="/webdev"><h2>Web Development</h2></a>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="src/DataMining.png" alt="Data">
                        <div class="slide-text">
                            <a href="/data"><h2>Data</h2></a>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="src/Appdev.png" alt="UI/UX"> 
                        <div class="slide-text">
                            <a href="/uiux"><h2>UI/UX</h2></a>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="src/Appdev.png" alt="App dev"> 
                        <div class="slide-text">
                            <a href="/appdev"><h2>App Development</h2></a>
                        </div>
                    </div>
                </div>
                <button class="prev">&#8592;</button>
                <button class="next">&#8594</button>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer" id="contacts">
        <div class="footer-child">
            <div class="footer-loc">
                <h1>Home</h1>
                <div class="links">
                    <a href="https://www.google.com/maps/place/Jakarta+Barat,+Kec.+Kb.+Jeruk,+Kota+Jakarta+Barat,+Daerah+Khusus+Ibukota+Jakarta/@-6.1599916,106.6748571,12z/data=!3m1!4b1!4m6!3m5!1s0x2e69f7c9d110d719:0x300c5e82dd4b8a0!8m2!3d-6.1674309!4d106.7637239!16zL20vMDdfZGQz?entry=ttu&g_ep=EgoyMDI0MTAyMS4xIKXMDSoASAFQAw%3D%3D">Jakarta, Indonesia</a>
                </div>
            </div>
            <div class="footer-socialmedia">
                <h1>Social Media</h1>
                <div class="links">
                    <a href="https://www.linkedin.com/in/hans-christian-handoto" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Alpucap" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=alpucaps@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>            
                    <a href="https://www.instagram.com/hnscns/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-project">
                <h1>Projects</h1>
                <div class="links">
                    <a href="/webdev">Web Development</a>
                    <a href="/appdev">App Development</a>
                    <a href="/data">Data</a>
                    <a href="">UI/UX Design</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>