@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*https://www.realtimecolors.com/?colors=f1f1f1-1c1c1c-84b7dc-c1ddf0-06F7FF&fonts=Inter-Inter*/

*{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html{
    margin: 0;
}
:root{
    --bg-color: #1c1c1c;
    --primary-color: #84b7dc;
    --secondary-color: #c1ddf0;
    --text-color: #F1F1F1;
    --accent-color: #06F7FF; 
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px; 
    display: none; 
}

::selection {
    color: var(--text-color); 
    background-color: #378bc8;
    animation: gradientHighlight 1s infinite alternate; 
}

@keyframes gradientHighlight {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

a{
    text-decoration: none;
}

/*

NAVBAR

*/
nav {
    margin: 0;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
    z-index: 99999;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 5px 10px; 
    width: auto;
}

.nav-item {
    max-width: 100%;
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 1rem;
    padding: 5px; 
    min-width: 100px;
}

.nav-item a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

.nav-item a:hover {
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

.nav-item a:active {
    background-color: transparent;
    color: var(--accent-color);
    transition: 0.5s color ease;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    nav {
        top: 3px;
        left: 3px;
        padding: 5px 10px;
        transform: none;
    }

    .nav-item {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 5px;
        border-radius: 4px;
        gap: 10px;
        text-align: start;
    }

    .nav-item a {
        color: var(--bg-color);
        text-align: start;
        padding: 5px;
        font-size: 14px;
        width: 100%;
    }

    .nav-item.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
@media screen and (max-width: 360px) {
    nav {
        top: 3px;
        left: 3px;
        padding: 5px 10px;
        transform: none;
    }

    .nav-item {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        background: rgba(255, 255, 255, 0.95);
        padding: 10px 5px;
        gap: 8px;
        border-radius: 4px;
    }

    .nav-item a {
        color: var(--bg-color);
        text-align: start;
        padding: 5px;
        font-size: 14px;
        width: 100%;
    }

    .nav-item.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 1.2rem;
    }
}

/*

Contacts

*/
.contacts {
    margin: 0;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px 5px; 
    width: auto;
}
.contacts-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contacts-item a{
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
.contacts-item a:hover{
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

@media screen and (max-width: 768px) {
    .contacts {
        margin: 0;
        position: fixed;
        left: 50%;
        top: 5px; 
        transform: translate(-50%); 
        z-index: 99999;
        padding: 8px 20px;
    }
    
    .contacts-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .contacts-item a{
        margin: 0;
        text-decoration: none;
        font-size: 18px;
    }
}
@media screen and (max-width: 360px) {
    .contacts {
        margin: 0;
        position: fixed;
        left: 50%;
        top: 5px; 
        transform: translate(-50%); 
        z-index: 99999;
        padding: 8px 20px;
    }
    
    .contacts-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .contacts-item a {
        margin: 0;
        text-decoration: none;
        font-size: 16px; 
        text-align: center; 
    }
}

/*

INTRO

*/
.intro{
    margin: 0;
}

.intro-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 810px;
    flex-direction: column;
    overflow-x: hidden;
}

.intro-fonts{
    position: absolute;
    z-index: 1;
}

.intro-item h1{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 10px;
    margin-top: 50px;
}

.intro-item h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-wrap:nowrap;
}

.intro-item span{
    position: relative;
}
.intro-item span::before{
    content: "Data Scientist";
    animation: words 10s infinite;
}
.intro-item span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    animation: cursor 0.6s infinite, typing 10s steps(14) infinite;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--bg-color);
    }
}
@keyframes words {
    0%, 20% { content: "Java"; }
    21%, 40% { content: "C++"; }
    41%, 60% { content: "Python"; }
    61%, 80% { content: "Javascript"; }
    81%, 100% { content: "SQL"; }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100% {
        width: calc(100% + 8px);
    }
}

@media screen and (max-width: 768px) {
    .intro-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding-left: 10px;
    }
    
    .intro-item h1 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 4px;
        margin-top: 30px;
    }
    
    .intro-item h2 {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 4px;
        text-wrap: wrap;
    }

}

@media screen and (max-width: 360px){
    .intro-item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding-left: 10px;
    }

    .intro-item h1 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 4px;
        margin-top: 30px;
    }
    
    .intro-item h2 {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 4px;
        text-wrap: wrap;
    }
    
}

/*

ABOUT

*/
.about{
    margin: 0;
}

.about-item{
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    padding: 20px 10px;
}

.about-item h1{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px 0;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 1000px;
    background-color: #2b2b2b;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.about-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.about-container img {
    width: 260px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-container p {
    font-size: 1rem;
    font-weight: 300;
    color: #4b4b4b;
    line-height: 22.4px;
    text-align: justify;
    margin: 0;
    max-width: 600px;  
    color: var(--text-color)
}

.highlight .highlight-letter {
    animation: fadeInColor 0.5s forwards; 
    animation-delay: calc(0.01s * var(--letter-index)); 
}

@keyframes fadeInColor {
    from {
        opacity: 0.5;
        color: var(--text-color); 
    }
    to {
        opacity: 1;
        color: var(--accent-color); 
    }
}

.highlight {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.highlight.active {
    opacity: 1;
}

.stats {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    align-items: center;
    width: 100%;
}

.language-proficiency {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;
    width: 100%;
    font-size: 16px;
    align-items: end;
    justify-content: center;
}

.language-bar {
    flex: 1;
    background-color: #333333;
    border-radius: 4px;
    overflow: hidden;
    height: 12px;
    max-width: 300px;
    position: relative; 
    margin-left: 8px;
    
}

.bar {
    height: 100%;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 12px; 
    color: var(--text-color);
    transition: width 0.5s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bar.active {
    animation-play-state: running;
}

.Indonesia {
    animation-name: Indonesianbar;
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
    animation-play-state: paused; 
}

.English {
    animation-name: Englishbar;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-play-state: paused; 
}

.Japanese {
    animation-name: Japanesebar;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-play-state: paused; 
}

@keyframes Indonesianbar {
    from { width: 0%; }
    to { width: 100%; }
}
@keyframes Englishbar {
    from { width: 0%; }
    to { width: 70%; }
}
@keyframes Japanesebar {
    from { width: 0%; }
    to { width: 10%; }
}

@media screen and (max-width: 768px) {
    .about-item {
        margin: 20px 10px;
        padding: 15px 8px;
    }
    
    .about-item h1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 4px;
        text-align: center;
        margin: 8px 0;
    }
    
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .about-container img {
        width: 110px;
        height: 150px;
    }

    .about-container p {
        font-size: 0.7rem;
        text-align: justify;
        max-width: 90%;
    }

    .stats {
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        align-items: center;
        width: 90%;
    }

    .language-proficiency {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: end;
        width: 100%;
        font-size: 0.9rem;
        justify-content: end;
    }

    .language-bar {
        flex: 1;
        background-color: #333333;
        border-radius: 4px;
        overflow: hidden;
        height: 12px;
        max-width: 250px;
        position: relative;
        padding-left: 6px;
    }

    .bar {
        height: 100%;
        background-color: var(--primary-color);
        text-align: center;
        line-height: 12px;
        color: var(--text-color);
        transition: width 0.5s ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
@media screen and (max-width: 360px) {
    .about-item {
        margin: 20px 10px;
        padding: 10px 5px;
    }
    
    .about-item h1 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        margin: 8px 0;
    }
    
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .about-container img {
        width: 110px;
        height: 150px;
    }

    .about-container p {
        font-size: 0.7rem;
        text-align: justify;
        max-width: 90%;
    }
    
    .stats {
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        align-items: center;
        width: 80%;
    }
    
    .language-proficiency {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: end;
        width: 100%;
        font-size: 0.8rem;
        justify-content: end;
    }
    
    .language-bar {
        flex: 1;
        background-color: #333333;
        border-radius: 4px;
        overflow: hidden;
        height: 10px;
        max-width: 180px;
        position: relative; 
        padding-left: 6px;
    }
    
    .bar {
        height: 100%;
        background-color: var(--primary-color);
        text-align: center;
        line-height: 10px; 
        color: var(--text-color);
        transition: width 0.5s ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}


/*

ACADEMIC

*/
.academic{
    margin: 50px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.academic h1{
    margin: 20px 10px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 5px;
    z-index: 999;
}

.academic-item {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.academic-item-text{
    padding: 5px 0;
}

.academic-item-child img {
    height: 200px;
    width: 200px;
    margin: 0 10px; 
    border-radius: 8px;
    transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out; 
}

.academic-item-child img.hovering {
    filter: grayscale(100%); 
    transform: scale(0.95); 
}
@media screen and (max-width: 768px) {
    .academic {
        margin: 0px;
        padding: 40px 0;
        text-align: center;
    }

    .academic h1 {
        margin: 15px 8px;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 4px;
    }

    .academic-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        max-width: 600px;
        margin: 0;
        gap: 1rem;
    }

    .academic-item-text {
        padding: 5px 0;
        font-size: 0.7rem;
    }

    .academic-item-child img {
        height: 150px;
        width: 150px;
        margin: 0 8px;
        border-radius: 8px;
        transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
    }
}

@media screen and (max-width: 360px) {
    .academic {
        margin: 0px;
        padding: 30px 0;
        text-align: center;
    }

    .academic h1 {
        margin: 15px 8px;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .academic-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        max-width: 100%;
        margin: 0;
        gap: 0.5rem;
    }

    .academic-item-text {
        padding: 3px 0;
        font-size: 0.7rem;
    }

    .academic-item-child img {
        height: 100px;
        width: 100px;
        margin: 0 5px;
        border-radius: 8px;
        transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
    }
}


/* General experience section */
.experience {
    margin: 50px 20px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
}

.experience h1 {
    margin: 20px 10px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 5px;
    z-index: 999;
}

.experience-item {
    display: flex;
    align-items: center; 
    width: 100%; 
    margin: 1rem 0;
}

.animate-on-scroll {
    width: 100%; 
}

.experience-item-child {
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
    gap: 20px;
}

.experience-item-child img {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    position: relative;
    z-index: 99;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.experience-item {
    flex-grow: 1;
}

.blur {
    filter: blur(2px);
    transition: filter 0.5s ease;
}

.blur.active {
    transition: filter 0.5s ease;
    filter: blur(0px);
}

.colorized {
    opacity: 0.2;
    filter: grayscale(100%);
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.colorized.active {
    opacity: 1; 
    filter: grayscale(0%);
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.experience-item-child-text-left h2 {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 4px;
    color: var(--primary-color);
    text-align: left;
}

.experience-item-child-text-right h2 {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 4px;
    color: var(--primary-color);
    text-align: left; 
}

.experience-item-child-text p {
    font-size: 1rem;
    font-weight: 300;
}

ul {
    list-style-type: none; 
    padding: 0;
}

.experience-item-child-text-left li {
    position: relative;
    margin: 5px 0;
    padding-left: 20px; 
    text-align: left;
}

.experience-item-child-text-left li::before {
    content: '•';
    color: var(--primary-color); 
    position: absolute;
    left: 0;
}

.letter {
    display: inline-block;
    opacity: 0.2; 
    animation: fadeIn 0.3s forwards;
    animation-delay: calc(0.03s * var(--letter-index)); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.experience-item-child img:hover {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%); 
}

.lighten {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.lighten.active {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .experience {
        margin: 40px 15px;
        text-align: center;
        width: auto;
    }

    .experience h1 {
        font-size: 2rem;
        letter-spacing: 4px;
    }

    .experience-item {
        flex-direction: column;
        margin: 1rem 0;
    }

    .experience-item-child {
        gap: 15px;
    }

    .experience-item-child img {
        height: 80px;
        width: 80px;
    }

    .experience-item-child-text-left h2 {
        font-size: 0.8rem;
        letter-spacing: 3px;
    }

    .experience-item-child-text p {
        font-size: 0.7rem;
    }

    .experience-item-child-text-left li {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 360px) {
    .experience {
        margin: 30px 10px;
        text-align: center;
        width: auto;
    }

    .experience h1 {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    .experience-item {
        flex-direction: column;
        margin: 0.5rem 0;
    }

    .experience-item-child {
        gap: 10px;
    }

    .experience-item-child img {
        height: 80px;
        width: 80px;
    }

    .experience-item-child-text-left h2 {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    .experience-item-child-text p {
        font-size: 0.7rem;
    }

    .experience-item-child-text-left li {
        font-size: 0.6rem;
    }
}


/*

PROJECT

*/
.project{
    margin: 50px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.project h1{
    margin: 20px 10px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 5px;
    z-index: 999;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 0.3rem;
    margin: auto;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
  
.track {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
}
  
.slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 2rem;
    background: var(--bg-color);
    gap: 15px;
    border-image: fill 0 linear-gradient(#0001, #111)
}

.slide-text {
    position: absolute;
    
}

.slide h2 {
    font-size: 6rem;
    letter-spacing: 5px;
    color: var(--text-color);
    text-shadow:0 0 5px #000000;
}

.slide button{
    font-size:1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    background-color: transparent;
    border: none;
}

.slide a{
    text-decoration: none;
    color: var(--text-color);
}

.slide img{
    width: 100%;
    height: 100%;
    opacity: 30%;
    filter:blur(2px) contrast(110%) brightness(85%);
}

.prev {
    left: 10px;
    margin: 4px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background: rgba(43, 43, 43, 0.7); 
    backdrop-filter: blur(5px);
}
  
.next {
    right: 10px;
    margin: 4px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background: rgba(43, 43, 43, 0.7); 
    backdrop-filter: blur(5px);
}

.prev:hover, .next:hover{
    color: #2b2b2b;
    transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .project h1 {
        font-size: 2rem;
        margin: 15px 10px;
        letter-spacing: 4px;
    }
    .carousel {
        position: relative;
        width: 100%;
        height: auto; 
        border-radius: 0.3rem;
        margin: auto;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
      
    .track {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease-in-out;
        text-align: center;
    }
      
    .slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        font-size: 1rem;
        background: var(--bg-color);
        gap: 15px;
        border-image: fill 0 linear-gradient(#0001, #111);
    }
    
    .slide h2 {
        font-size: 1rem; 
        letter-spacing: 3px;
    }
    
    .slide button {
        font-size: 1.2rem; 
        font-weight: 500;
        letter-spacing: 2px;
        background-color: transparent;
        border: none;
        justify-content: center;
    }
    
    .prev {
        left: 0;
        margin: 10px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        font-size: 1.2rem;
        background: transparent;
        cursor: pointer;
        transition: color 200ms ease-in-out;
    }
      
    .next {
        right: 0;
        margin: 10px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        font-size: 1.2rem;
        background: transparent;
        cursor: pointer;
        transition: color 200ms ease-in-out;
    }

}

@media screen and (max-width: 360px) {
    .project h1 {
        font-size: 1.5rem;
        margin: 15px 8px;
        letter-spacing: 3px;
    }

    .carousel {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 0.3rem;
        margin: auto;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
      
    .track {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease-in-out;
        text-align: center;
    }
      
    .slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        font-size: 0.8rem;
        background: var(--bg-color);
        gap: 15px;
        border-image: fill 0 linear-gradient(#0001, #111)
    }
    
    .slide h2 {
        font-size: 0.8rem;
        letter-spacing: 4px;
    }
    
    .slide button{
        font-size:1rem;
        font-weight: 500;
        letter-spacing: 2px;
        background-color: transparent;
        border: none;
        justify-content: center;
    }
    
    .prev {
        left: 0;
        margin: 10px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        font-size:  1.2rem;
        background: transparent;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        background: rgba(43, 43, 43, 0.7); 
    }
      
    .next {
        right: 0;
        margin: 10px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        font-size: 1.2rem;
        background: transparent;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        background: rgba(43, 43, 43, 0.7); 
    }

}

/*

FOOTER

*/
.footer {
    background-color: #333333;
    color: var(--text-color);
    text-align: center;
    padding: 40px;
    position: relative;
    height: auto;
}
.footer-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
.footer-child h1{
    color: var(--primary-color);
    margin: 10px 15px;
    text-decoration: none;
    font-size: 24px;
    text-align: start;
}

/* 
Location 
*/
.footer-child .footer-loc{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-loc .links{
    display: flex;
    flex-direction: row;
    gap: 6.4px;
}
.footer-child .footer-loc h1{
    text-align: start;
}
.footer-child .footer-loc a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: start;
}
.footer-child .footer-loc a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

/* 
Social Media 
*/
.footer-child .footer-socialmedia{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-socialmedia .links{
    display: flex;
    flex-direction: row;
    gap: 6.4px;
    justify-content: center;
}
.footer-child .footer-socialmedia h1{
    text-align: center;
}
.footer-child .footer-socialmedia a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 24px;
}
.footer-child .footer-socialmedia a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

/* 
Projects 
*/
.footer-child .footer-project{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-project .links{
    display: flex;
    flex-direction: column;
    gap: 6.4px;
}
.footer-child .footer-project h1{
    text-align: end;
}
.footer-child .footer-project a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: end;
}
.footer-child .footer-project a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

@media screen and (max-width: 768px) {
    .footer {
        background-color: #333333;
        color: var(--text-color);
        text-align: center;
        padding: 20px; 
        position: relative;
        height: auto;
        width: auto;
    }
    .footer-child {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3);
        gap: 25px; 
    }
    .footer-child h1 {
        color: var(--primary-color);
        margin: 10px 15px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
    }
    
    /* 
    Location 
    */
    .footer-child .footer-loc {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-loc .links {
        display: flex;
        flex-direction: row;
        gap: 10px; 
        justify-content: center;
    }
    .footer-child .footer-loc h1 {
        text-align: center;
    }
    .footer-child .footer-loc a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 0.9rem; 
        text-align: center;
    }
    .footer-child .footer-loc a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Social Media 
    */
    .footer-child .footer-socialmedia {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-socialmedia .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
    .footer-child .footer-socialmedia h1 {
        text-align: center;
    }
    .footer-child .footer-socialmedia a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .footer-child .footer-socialmedia a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Projects 
    */
    .footer-child .footer-project {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-project .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-child .footer-project h1 {
        text-align: center;
    }
    .footer-child .footer-project a {
        color: var(--text-color);
        margin: 0 10px; 
        text-decoration: none;
        font-size: 0.9rem; 
        text-align: center;
    }
    .footer-child .footer-project a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
}


@media screen and (max-width: 360px) {
    .footer {
        background-color: #333333;
        color: var(--text-color);
        text-align: center;
        padding: 5px;
        position: relative;
        height: auto;
        width: auto;
    }
    .footer-child{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3);
        gap: 20px; 
    }
    .footer-child h1{
        color: var(--primary-color);
        margin: 10px 15px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
    }
    
    /* 
    Location 
    */
    .footer-child .footer-loc{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-loc .links{
        display: flex;
        flex-direction: row;
        gap: 3px;
    }
    .footer-child .footer-loc h1{
        text-align: center;
    }
    .footer-child .footer-loc a {
        color: var(--text-color);
        margin: 0 15px;
        text-decoration: none;
        font-size: 0.7rem;
        text-align: center;
    }
    .footer-child .footer-loc a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Social Media 
    */
    .footer-child .footer-socialmedia{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-socialmedia .links{
        display: flex;
        flex-direction: row;
        gap: 3px;
        justify-content: center;
    }
    .footer-child .footer-socialmedia h1{
        text-align: center;
    }
    .footer-child .footer-socialmedia a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 0.7rem;
    }
    .footer-child .footer-socialmedia a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Projects 
    */
    .footer-child .footer-project{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-project .links{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .footer-child .footer-project h1{
        text-align: center;
    }
    .footer-child .footer-project a {
        color: var(--text-color);
        margin: 0 15px;
        text-decoration: none;
        font-size: 0.7rem;
        text-align: center;
    }
    .footer-child .footer-project a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
}
/* 

ANIMATED SCROLLING 

*/
.animate-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.slide-up {
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-up.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-right{
    transform: translateX(-25px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}
.slide-right.active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-left {
    transform: translateX(25px); 
    opacity: 0; 
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-left.active {
    opacity: 1;
    transform: translateX(0); 
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}


