@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*https://www.realtimecolors.com/?colors=f1f1f1-1c1c1c-84b7dc-c1ddf0-06F7FF&fonts=Inter-Inter*/

*{
    margin: 0;
    scroll-behavior: smooth;
}

html{
    margin: 0;
}
:root{
    --bg-color: #1c1c1c;
    --primary-color: #84b7dc;
    --secondary-color: #c1ddf0;
    --text-color: #F1F1F1;
    --accent-color: #06F7FF;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px; 
    display: none; 
}
::selection {
    color: var(--text-color); 
    background-color: #378bc8;
    animation: gradientHighlight 1s infinite alternate; 
}

@keyframes gradientHighlight {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/*

NAVBAR

*/
nav {
    margin: 0;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
    z-index: 99999;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 5px 10px; 
    width: auto;
}

.nav-item {
    max-width: 100%;
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 1rem;
    padding: 5px; 
    min-width: 100px;
}

.nav-item a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

.nav-item a:hover {
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

.nav-item a:active {
    background-color: transparent;
    color: var(--accent-color);
    transition: 0.5s color ease;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    nav {
        top: 3px;
        left: 3px;
        padding: 5px 10px;
        transform: none;
    }

    .nav-item {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 10px;
        border-radius: 4px;
        gap: 10px;
        text-align: start;
    }

    .nav-item a {
        color: var(--bg-color);
        text-align: start;
        padding: 5px;
        font-size: 14px;
        width: 100%;
    }

    .nav-item.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
@media screen and (max-width: 360px) {
    nav {
        top: 3px;
        left: 3px;
        padding: 8px 15px;
        transform: none;
    }

    .nav-item {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        background: rgba(255, 255, 255, 0.95);
        padding: 10px 5px;
        gap: 8px;
        border-radius: 4px;
    }

    .nav-item a {
        color: var(--bg-color);
        text-align: start;
        padding: 8px;
        font-size: 14px;
        width: 100%;
    }

    .nav-item.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 1.2rem;
    }
}

/*

Contacts

*/
.contacts {
    margin: 0;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px 5px; 
    width: auto;
}
.contacts-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contacts-item a{
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
.contacts-item a:hover{
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

@media screen and (max-width: 768px) {
    .contacts {
        margin: 0;
        position: fixed;
        left: 50%;
        top: 5px; 
        transform: translateX(-50%); 
        z-index: 99999;
        padding: 5px 10px;
    }
    
    .contacts-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .contacts-item a{
        margin: 0;
        text-decoration: none;
        font-size: 18px;
    }
}
@media screen and (max-width: 360px) {
    .contacts {
        margin: 0;
        position: fixed;
        left: 50%;
        top: 5px; 
        transform: translateX(-50%); 
        z-index: 99999;
        padding: 5px 10px;
    }
    
    .contacts-item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .contacts-item a {
        margin: 0;
        text-decoration: none;
        font-size: 16px; 
        text-align: center; 
    }
}


/* 

DROPDOWN 

*/
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    width: auto;
    display: none; 
    position: absolute;
    background-color: #333333; 
    min-width: 160px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    transform: translate(-40px, 30px);
}

.dropdown-content a {
    color: var(--text-color); 
    padding: 10px 15px; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: #D1D1D1; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {
    .dropdown-content {
        width: auto;
        display: none; 
        position: absolute;
        background-color: #333333; 
        min-width: 180px; 
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 8px;
        transform: translate(20px, 30px);
    }
    
    .dropdown-content a {
        color: var(--text-color); 
        padding: 10px 15px; 
        display: block; 
    }

    .dropdown-content a:hover {
        width: auto;
        background-color: #D1D1D1; 
    }
    
}
@media screen and (max-width: 360px) {
    .dropdown-content {
        width: auto;
        display: none;
        position: absolute;
        background-color: #333333;
        min-width: 180px; 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
        z-index: 1;
        border-radius: 6px; 
        transform: translate(15px, 20px); 
    }
    
    .dropdown-content a {
        color: var(--text-color);
        padding: 8px 12px; 
        display: block;
        font-size: 0.8rem; 
    }

    .dropdown-content a:hover {
        width: auto;
        background-color: #D1D1D1;
    }
}

/*

PROJECT

*/
.project{
    margin: 50px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-item{
    padding-top: 5px;
}

.project-item h1{
    margin: 20px 10px;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.used{
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}

.used img{
    border-radius: 4px;
    width: 20px;
    height: auto;
}                                                   

.desc{
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 22.4px;
}
.carousel-used p{
    text-align: center;
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
    word-break: break-all;
    width: 60%;
}

.carousel {
    position: relative;
    width: 60%;
    height: auto;
    border-radius: 0.4rem;
    margin: auto;
    overflow: hidden;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
}
  
.track {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
}
  
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 2rem;
    background: var(--bg-color);
    gap: 15px;
    border-image: fill 0 linear-gradient(#0001, #111)
}

.slide a{
    text-decoration: none;
    color: var(--text-color);
}

.slide img{
    width: 100%;
    height: 100%;
}
  
.prev {
    left: 0;
    margin: 4px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background: rgba(43, 43, 43, 0.7); 
    backdrop-filter: blur(5px);
}
  
.next {
    right: 0;
    margin: 4px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background: rgba(43, 43, 43, 0.7); 
    backdrop-filter: blur(5px);
}

.prev:hover, .next:hover{
    color: #2b2b2b;
    background-color: rgba(241, 241, 241, 0.8);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color); 
    color: var(--text-color);
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 1rem; 
    font-weight: bold; 
    z-index: 10; 
}

@media screen and (max-width: 768px) {
    .project-item{
        padding-top: 5px;
    }
    
    .project-item h1{
        margin: 20px 10px;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 4px;
    }
    
    .used{
        display: flex;
        gap: 5px;
        justify-content: center; 
        align-items: center;
        margin-bottom: 10px;
    }
    
    .used img{
        border-radius: 4px;
        width: 15px;
        height: auto;
    }  
    .desc{
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 17.92px;
    }
    .carousel-used p{
        text-align: center;
        margin: 10px;
        font-size: 0.8rem;
        font-weight: 300;
        word-break: break-all;
        width: 100%;
    }
                                                     
    .carousel {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 0.4rem;
        margin: auto;
        overflow: hidden;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
    }
      
    .track {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease-in-out;
    }
      
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        font-size: 1rem;
        background: var(--bg-color);
        gap: 15px;
        border-image: fill 0 linear-gradient(#0001, #111)
    }
    
    .slide img{
        width: 100%;
        height: auto
    }
      
    .prev, .next {
        font-size: 1rem;
    }
    
    .label {
        font-size: 0.8rem; 
    }    
}
@media screen and (max-width: 360px) {
    .project-item {
        padding-top: 3px;
    }
    
    .project-item h1 {
        margin: 15px 5px;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 3px;
    }
    
    .used {
        display: flex;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .used img {
        border-radius: 3px;
        width: 12px;
        height: auto;
    }
    
    .carousel-used p {
        margin: 8px;
        font-size: 0.7rem;
        font-weight: 300;
    }
    
    .carousel {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 0.3rem;
        margin: auto;
        overflow: hidden;
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
    }
    
    .track {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 250ms ease-in-out;
    }
    
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        font-size: 0.9rem;
        background: var(--bg-color);
        gap: 10px;
        border-image: fill 0 linear-gradient(#0001, #111);
    }
    
    .slide img {
        width: 100%;
        height: auto;
    }
    
    .prev, .next {
        font-size: 0.9rem;
    }
    
    .label {
        font-size: 0.7rem;
    }
}


/*

FOOTER

*/
.footer {
    background-color: #333333;
    color: var(--text-color);
    text-align: center;
    padding: 40px;
    position: relative;
    height: auto;
}
.footer-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.footer-child h1{
    color: var(--primary-color);
    margin: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

/* 
Location 
*/
.footer-child .footer-loc{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-loc .links{
    display: flex;
    flex-direction: row;
    gap: 6.4px;
}
.footer-child .footer-loc h1{
    text-align: start;
}
.footer-child .footer-loc a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: start;
}
.footer-child .footer-loc a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

/* 
Social Media 
*/
.footer-child .footer-socialmedia{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-socialmedia .links{
    display: flex;
    flex-direction: row;
    gap: 6.4px;
    justify-content: center;
}
.footer-child .footer-socialmedia h1{
    text-align: center;
}
.footer-child .footer-socialmedia a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 24px;
}
.footer-child .footer-socialmedia a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

/* 
Projects 
*/
.footer-child .footer-project{
    display: flex;
    flex-direction: column;
}
.footer-child .footer-project .links{
    display: flex;
    flex-direction: column;
    gap: 6.4px;
}
.footer-child .footer-project h1{
    text-align: end;
}
.footer-child .footer-project a {
    color: var(--text-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: end;
}
.footer-child .footer-project a:hover {
    transition: color 0.5s ease;
    color: #BFBFBF;
}

@media screen and (max-width: 768px) {
    .footer {
        background-color: #333333;
        color: var(--text-color);
        text-align: center;
        padding: 20px; 
        position: relative;
        height: auto;
        width: auto;
    }
    .footer-child {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3);
        gap: 25px; 
    }
    .footer-child h1 {
        color: var(--primary-color);
        margin: 10px 15px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
    }
    
    /* 
    Location 
    */
    .footer-child .footer-loc {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-loc .links {
        display: flex;
        flex-direction: row;
        gap: 10px; 
        justify-content: center;
    }
    .footer-child .footer-loc h1 {
        text-align: center;
    }
    .footer-child .footer-loc a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 0.9rem; 
        text-align: center;
    }
    .footer-child .footer-loc a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Social Media 
    */
    .footer-child .footer-socialmedia {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-socialmedia .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
    .footer-child .footer-socialmedia h1 {
        text-align: center;
    }
    .footer-child .footer-socialmedia a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .footer-child .footer-socialmedia a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Projects 
    */
    .footer-child .footer-project {
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-project .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-child .footer-project h1 {
        text-align: center;
    }
    .footer-child .footer-project a {
        color: var(--text-color);
        margin: 0 10px; 
        text-decoration: none;
        font-size: 0.9rem; 
        text-align: center;
    }
    .footer-child .footer-project a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
}


@media screen and (max-width: 360px) {
    .footer {
        background-color: #333333;
        color: var(--text-color);
        text-align: center;
        padding: 5px;
        position: relative;
        height: auto;
        width: auto;
    }
    .footer-child{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3);
        gap: 20px; 
    }
    .footer-child h1{
        color: var(--primary-color);
        margin: 10px 15px;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
    }
    
    /* 
    Location 
    */
    .footer-child .footer-loc{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-loc .links{
        display: flex;
        flex-direction: row;
        gap: 3px;
    }
    .footer-child .footer-loc h1{
        text-align: center;
    }
    .footer-child .footer-loc a {
        color: var(--text-color);
        margin: 0 15px;
        text-decoration: none;
        font-size: 0.7rem;
        text-align: center;
    }
    .footer-child .footer-loc a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Social Media 
    */
    .footer-child .footer-socialmedia{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-socialmedia .links{
        display: flex;
        flex-direction: row;
        gap: 3px;
        justify-content: center;
    }
    .footer-child .footer-socialmedia h1{
        text-align: center;
    }
    .footer-child .footer-socialmedia a {
        color: var(--text-color);
        margin: 0 10px;
        text-decoration: none;
        font-size: 0.7rem;
    }
    .footer-child .footer-socialmedia a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
    
    /* 
    Projects 
    */
    .footer-child .footer-project{
        display: flex;
        flex-direction: column;
    }
    .footer-child .footer-project .links{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .footer-child .footer-project h1{
        text-align: center;
    }
    .footer-child .footer-project a {
        color: var(--text-color);
        margin: 0 15px;
        text-decoration: none;
        font-size: 0.7rem;
        text-align: center;
    }
    .footer-child .footer-project a:hover {
        transition: color 0.5s ease;
        color: #BFBFBF;
    }
}

/* 

ANIMATED SCROLLING 

*/
.animate-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.slide-up {
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-up.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-right{
    transform: translateX(-25px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}
.slide-right.active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}



